// Buttons
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  color: white;
  font-size: 17px;
  &--primary {
    background-color: $primary-color;
  }
  &--secondary {
    background-color: $secondary-color;
  }
  &--lg {
    @include button(50px, 40px);
  }
  &--md {
    @include button(45px, 24px);
  }
  &--sm {
    height: 40px;
  }
  &--xs {
    @include button(30px, 18px);
    font-size: 12px;
  }
}

// Search
.search {
  margin-left: auto;
  @include flexCenterY();
  height: 40px;
  width: 100%;
  max-width: 320px;
  &__input {
    height: 100%;
    border: 2px solid #E7E6EF;
    border-right-width: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    flex: 1;
    padding: 12px;
  }
  &__btn {
    width: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}