.abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.abs-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}