:root {
  // Color
  --primary-color: #FB2E86;
  --secondary-color: #19D16F;
  --heading-color: rgb(21, 24, 117);
  --text-color: #8A8FB9;
  --product-bgc: #F6F7FB;

  // Spacing
  --container-width: calc(118rem + calc(4 * var(--gutter)));
  --section-spacing: clamp(6.4rem, 10vw, 12.8rem);
  --nav-top-height: 4.4rem;
  --nav-bottom-height: 8rem;
  @include lg {
    --nav-top-height: 0rem;
    --nav-bottom-height: 7rem;
  }
  --header-height: calc(var(--nav-bottom-height) + var(--nav-top-height));
}

// Color
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$violet-color: #7E33E0;
$main-header-bgc: #F6F5FF;
$banner-bgc: #F2F0FF;
$section-hover-color: #2F1AC4;
$product-bgc-1: var(--product-bgc);
$product-bgc-2: #F5F6F8;
$shade-bgc: #EEEFFB;
$footer-bgc: #E7E4F8;

$heading-color: var(--heading-color);
$text-color: var(--text-color);
$footer-bottom-text: #9DA0AE;

// Fonts
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Lato', sans-serif;