.product {
    border: 1px;
    background-color: #ebf3f3;
    text-align: center;
    padding: 10px;
    /* margin: 10px; */
    font-family: "Josefin Sans", sans-serif;
    color: #2d07a8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.images {
    height: 120px;
}

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    gap: 20px;
}

.product_price {
    color: blue;
}

.product_price_sale {
    color: rgb(243, 98, 98);
}

.product_name {
    font-size: 20px;
}

@media screen and (max-width: 922px) {
    .product-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 767.98px) {
    .product-container {
        grid-template-columns: repeat(3, 1fr);
    }
}