.not-found {
  margin-top: var(--section-spacing);
  &-main {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: calc(var(--section-spacing) / 1) 0;
  }
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  &__img {
    margin-bottom: 32px;
  }
  &__heading {
    margin-bottom: 62px;
    font-size: 24px;
    line-height: 28px;
    color: #152970;
    text-align: center;
  }
  @include md {
    &__heading {
      font-size: 18px;
      margin-bottom: 40px;
    }
  }
}