.home {
  &-main {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: var(--section-spacing) 0;
  }
  &-blog {
    &__heading {
      margin-bottom: 48px;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: calc(2 * var(--gutter));
    }
    --blog-item-width: 40%;
    @include lg {
      &__list {
        justify-content: flex-start;
        grid-auto-columns: var(--blog-item-width);
        grid-auto-flow: column;
        grid-gap: 1.5rem;
        overflow: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        -webkit-overflow-scrolling: touch;
        scroll-padding: 1rem;
        grid-template-columns: unset;
      }
      &__list::-webkit-scrollbar {
        display: none;
        width: 0;
      }
      &__list > * {
        scroll-snap-align: start;
      }
    }
    @include md {
      --blog-item-width: 60%;
    }
    @include sm {
      --blog-item-width: 90%;
    }
  }
}
.product {
  &__heading {
    margin-bottom: 48px;
  }
  &-featured {
    &-item {
      &:hover {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
      }
      &__top {
        background-color: $product-bgc-1;
        min-height: 270px;
      }
      &__img {
        height: 180px;
      }
      &__bottom {
        padding: 16px;
        border: 2px solid $product-bgc-1;
        transition: all 0.2s linear;
      }
      &:hover &__bottom {
        border-color: transparent;
      }
      &__heading {
        font-weight: bold;
        margin-bottom: 20px;
      }
      &__code {
        margin-bottom: 12px;
      }
    }
  }
  &-latest {
    &-item {
      &__top {
        background-color: $product-bgc-2;
        transition: all 0.2s linear;
      }
      &:hover &__top {
        background-color: white;
      }
      &__img {
        width: 260px;
        height: 260px;
      }
      &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 10px;
      }
      &-price {
        &__old {
          color: #FB2448;
        }
      }
    }
  }
  &-trending {
    &__heading {
      margin-bottom: 40px;
    }
    &-item {
      padding: 12px;
      border: 2px solid #eee;
      transition: all 0.2s linear;
      gap: 15px;
      &:hover {
        border-color: transparent;
        box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
      }
      &__top {
        background-color: #f5f6f8;
        height: 260px;
      }
      &__heading {
        font-weight: bold;
        margin-bottom: 8px;
      }
      &-price {
        &__old {
          opacity: 0.3;
        }
        margin-bottom: 20px;
      }
    }
    &-collection {
      &-item {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 34px;
        padding-left: 25px;
        &--pink {
          background-color: #FFF6FB;
        }
        &--purple {
          background-color: #EEEFFB;
        }
        &__heading {
          margin-bottom: 12px;
        }
        &__link {
          text-decoration: underline;
        }
        &__img {
          align-self: flex-end;
          margin-top: auto;
          position: relative;
          transform: translateY(-30px);
          & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}