extends ../layouts/layout

block vars 
  -title= 'Hekto'
  -bodyClass='home-page'

block container 
  h1.heading.heading--2xl Heading 1
  h2.heading.heading--xl Heading 2
  h3.heading.heading--lg Heading 3
  h4.heading.heading--md Heading 4
  h5.heading.heading--sm.font--secondary.color--primary Heading 5
  h6.heading.heading--xs.font--primary.color--primary Heading 6
  button.btn.btn--primary.btn--lg Button
  button.btn.btn--primary.btn--md Button
  button.btn.btn--primary.btn--sm Button
  button.btn.btn--primary.btn--xs Button
  button.btn.btn--secondary.btn--lg Button
  button.btn.btn--secondary.btn--md Button
  button.btn.btn--secondary.btn--sm Button
  button.btn.btn--secondary.btn--xs Button