extends ../layout/layout

block vars 
  -title = 'Hekto'
  -bodyClass = 'home-page'
  -mainClass = 'home-main'

block container 
  include ../blocks/home/banner-sale
  include ../blocks/home/on-trending
  include ../blocks/home/nostalgia
  include ../blocks/home/product-top
  include ../blocks/home/banner-2
  include ../blocks/home/product-latest
  include ../blocks/home/modern-farmhouse
  include ../blocks/home/product-trending
  include ../blocks/home/product-unique
  include ../blocks/home/discount-item
  include ../blocks/home/home-blog
  //- include ../blocks/home/offer
  //- include ../blocks/home/product-featured
  //- include ../blocks/home/banner
