extends ../layouts/layout

block vars 
  -title = 'Hekto'
  -bodyClass = 'home-page'
  -mainClass = 'home-main'

block container 
  include ../blocks/home/banner
  include ../blocks/home/product-featured
  include ../blocks/home/product-latest
  include ../blocks/home/offer
  include ../blocks/home/product-unique
  include ../blocks/home/product-trending
  