.accessories {
  &__heading {
    margin-bottom: 4rem;
  }
  &-item {
    padding: 1.2rem;
    border: 0.2rem solid #eee;
    transition: all 0.2s linear;
    gap: 1.5rem;
    &:hover {
      border-color: transparent;
      box-shadow: 0rem 0.8rem 4rem rgba(49, 32, 138, 0.05);
    }
    &__top {
      background-color: #f5f6f8;
      height: 26rem;
    }
    &__heading {
      font-weight: bold;
      margin-bottom: 1.2rem;
    }
    &-price {
      font-size: 1.5rem;
      margin-bottom: 1.6rem;
    }
  }
}