.banner-sale {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../images/home/hahaha.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: min(100vh, max(66.67%, 70vh));
  overflow: hidden;
  &__container {
    padding-left: calc(2 * var(--gutter));
    padding-right: calc(2 * var(--gutter));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    text-align: center;
    width: min(80rem, 100%);
    background-color: rgba($color: #fff, $alpha: 0.85);
    padding: clamp(2rem, 4vw, 8rem) 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  &__heading {
    margin-bottom: 20px;
  }
  &__desc {
    margin-bottom: 32px;
    font-style: italic;
    opacity: 0.85;
  }
}