.banner-stick {
  display: flex;
  justify-content: flex-end;
  position: relative;
  color: $heading-color;
  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: var(--gutter);
    background-color: #fff;
    height: fit-content;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5.6rem 2.4rem 3.6rem;
    text-align: center;
  }
  &__title {
    font-size: clamp(2rem, 1.4rem + 1vw, 2.5rem);
    font-weight: 400;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -1.6rem;
      height: 0.2rem;
      width: 4rem;
      background-color: currentColor;
    }
  }
  &__caption {
    font-weight: 700;
    margin-bottom: 2rem;
  }
  &__desc {
    width: 34ch;
    color: #4b4b4b;
    font-style: italic;
    margin-bottom: 2.8rem;
  }
  &__cta {
    padding-inline: 2rem;
    text-transform: capitalize;
  }
  &__img {
    width: 80%;
  }
  @include lg {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__content {
      position: relative;
      transform: translateY(-50%);
      left: 0;
      order: 1;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -10rem;
    }
    &__desc {
      width: 100%;
    }
    &__img {
      width: 100%;
    }
  }
  @include md {

    &__desc {
      display: none;
    }
  }
}