.main-header {
  background-color: $main-header-bgc;
  height: 286px;
  color: #101750;
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    font-size: 36px;
    line-height: 42px;
  }
}
.breadcrumb {
  margin-top: 4px;
  margin-left: -4px;
  &__list {
    display: flex;
    gap: 4px;
  }
  &__item {
    &--active {
      color: #FB2E86;
    }
    &:not(:first-child) {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -4px;
        width: 4px;
        height: 4px;
        border-radius: 100rem;
        background-color: currentColor;
      }
    }
  }
  &__link {
    font-family: $secondary-font, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 6px;
  }
}