.on-trending {
  &-item {
    background-color: #f8f8f8;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 1.6rem;
    @include aboveBreakpoint(map-get($breakpoints, "md")) {
      &--md &__img {
        width: min(80%, 20rem);
        height: min(80%, 20rem);
      }
      &--lg &__img {
        width: min(80%, 30rem);
        height: min(80%, 30rem);
      }
    }
    &__img {
      align-self: center;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__name {
      align-self: flex-start;
      text-transform: uppercase;
      font-weight: 600;
    }
    &__price {
      align-self: flex-end;
      font-style: italic;
      font-size: 1.8rem;
    }
  }
}