.on-trending {
  &-item {
    background-color: #f8f8f8;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 1.6rem;
    &--md &__img {
      width: min(90%, 18rem);
    }
    @include aboveBreakpoint(map-get($breakpoints, "md")) {
      &--lg &__img {
        min-height: 28rem;
      }
    }
    &__img {
      align-self: center;
      width: 100%;
      height: 90%;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__name {
      align-self: flex-start;
      text-transform: uppercase;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      color: #336;
      font-size: 1.8rem;
    }
    &__price {
      align-self: flex-end;
      font-style: italic;
      font-size: 1.4rem;
    }
  }
}