.product-action {
  position: absolute;
  display: flex;
  gap: 12px;
  align-items: center;
  &--vertical {
    flex-direction: column;
    top: 50%;
    transform: translate(-100%, -50%);
    left: 0;
  }
  &--horizontal, &--rounded {
    left: 50%;
    transform: translate(-50%, 100%);
    bottom: 0;
  }
  &--bottom-left {
    left: 0;
    bottom: 0;
    transform: translate(20%, 100%);
  }
  &--bottom-left &__item {
    color: $text-color;
    filter: brightness(0.8);
  }
  &__item {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #fff, $alpha: 0);
    transition: all 0.2s ease-in;
    transform: translate(0);
    font-size: 18px;
    color: #1389FF;
    cursor: pointer;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 100rem;
      top: 0;
      left: 0;
      background-color: transparent;
      transition: all 0.25s linear;
      opacity: 0.1;
    }
    &:hover::before {
      background-color: currentColor;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
    }
    &:nth-child(1) {
      transition-delay: 0s;
    }
    &:nth-child(2) {
      transition-delay: 0.1s;
    }
    &:nth-child(3) {
      transition-delay: 0.2s;
    }
  }
  .product-item:hover & {
    &__item {
      transition: all 0.2s ease-out;
      &:nth-child(1) {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        transition-delay: 0.1s;
      }
      &:nth-child(3) {
        transition-delay: 0.2s;
      }
    }
  }
  .product-item:hover &--vertical &__item {
    transform: translateX(150%);
  }
  .product-item:hover &--horizontal &__item {
    transform: translateY(-150%);
  }
  .product-item:hover &--bottom-left &__item {
    transform: translateY(-120%);
  }
  .product-item:hover &--rounded &__item {
    transform: translateY(-170%);
  }
  .product-item:hover &--rounded &__item:nth-child(2) {
    transform: translateY(-130%);
  }
}

.product-item {
  position: relative;
  overflow: hidden;
}