.search {
  margin-left: auto;
  @include flexCenterY();
  height: 40px;
  width: 100%;
  max-width: 320px;
  &__input {
    height: 100%;
    border: 2px solid #E7E6EF;
    border-right-width: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    flex: 1;
    padding: 12px;
  }
  &__btn {
    width: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  @include md {
    margin-bottom: 10px;
    width: 100%;
    max-width: unset;
    &__input {
      width: 100%;
    }
  }
}