.footer {
  &-top {
    background-color: $shade-bgc;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  &__container {
    --gutter: 3rem;
    height: fit-content;
    & .row {
      margin-block: 0;
    }
  }
  &__logo {
    margin-bottom: 3rem;
  }
  &-form {
    &__group {
      display: flex;
      width: min(50rem, 100%);
      height: 4.4rem;
      padding: 0.2rem;
      background-color: white;
      border-radius: 0.2rem;
      margin-bottom: 2.5rem;
    }
    &__input {
      display: inline-block;
      flex: 1;
    }
    &__submit {
      width: 100%;
      max-width: 13.5rem;
    }
    &__text {
      display: flex;
      flex-direction: column;
      gap: 1rem 0;
    }
  }
  &__heading {
    margin-bottom: 4rem;
  }
  &__item {
    & + & {
      margin-top: 1.8rem;
    }
  }
  &__text {
    font-family: $secondary-font;
    line-height: 1.9rem;
  }
  &-bottom {
    background-color: $footer-bgc;
    height: 5.3rem;
    &__container {
      width: 100%;
      height: 100%;
      max-width: 96rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__rights {
    color: #9DA0AE;
  }
  &-social {
    display: flex;
    gap: 0 1.2rem;
    &__link {
      width: 2rem;
      height: 2rem;
      border-radius: 100rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $heading-color;
      color: white;
      font-size: 1rem;
    }
  }
  @include xl {
    &__heading {
      margin-bottom: 3rem;
    }
    &__item {
      & + & {
        margin-top: 1rem;
      }
    }
  }
  @include lg {
    &-form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }
    }
  }
  @include md {
    &__container,
    &__menu,
    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
  }
}