:root {
  --gutter: 1rem;
  @include md {
    --gutter: 0.6rem;
  }
}
.grid {
  width: 100%;
  display: block;
  padding: 0;
}
.grid.wide {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding-left: calc(1 * var(--gutter));
  padding-right: calc(1 * var(--gutter));
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--gutter) * -1);
}
.grid .row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}
.col {
  padding: var(--gutter);
  overflow: hidden;
  &-0 {
    display: none;
  }
  &-1,
  &-2,
  &-2-4,
  &-3,
  &-4,
  &-4-8,
  &-5,
  &-6,
  &-7,
  &-8,
  &-9,
  &-10,
  &-11,
  &-12 {
    display: block;
  }
  &-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  &-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  &-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  &-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  &-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  &-4-5 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  &-4-8 {
    flex: 0 0 40%;
    max-width: 40%;
  }
  &-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  &-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  &-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  &-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  &-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  &-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  &-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  &-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  &-o-1 {
    margin-left: 8.33333%;
  }
  &-o-2 {
    margin-left: 16.66667%;
  }
  &-o-2-4 {
    margin-left: 20%;
  }
  &-o-3 {
    margin-left: 25%;
  }
  &-o-4 {
    margin-left: 33.33333%;
  }
  &-o-4-5 {
    margin-left: 37.5%;
  }
  &-o-5 {
    margin-left: 41.66667%;
  }
  &-o-6 {
    margin-left: 50%;
  }
  &-o-7 {
    margin-left: 58.33333%;
  }
  &-o-8 {
    margin-left: 66.66667%;
  }
  &-o-9 {
    margin-left: 75%;
  }
  &-o-10 {
    margin-left: 83.33333%;
  }
  &-o-11 {
    margin-left: 91.66667%;
  }
}
@include xl {
  :root {
    --container-width: 1140px;
  }
  .xl-0 {
    display: none;
  }
  .xl-1,
  .xl-2,
  .xl-3,
  .xl-4,
  .xl-5,
  .xl-6,
  .xl-7,
  .xl-8,
  .xl-9,
  .xl-10,
  .xl-11,
  .xl-12 {
    display: block;
  }
  .xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .xl-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .xl-4-5 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .xl-o-1 {
    margin-left: 8.33333%;
  }
  .xl-o-2 {
    margin-left: 16.66667%;
  }
  .xl-o-2-4 {
    margin-left: 20%;
  }
  .xl-o-3 {
    margin-left: 25%;
  }
  .xl-o-4 {
    margin-left: 33.33333%;
  }
  .xl-o-4-5 {
    margin-left: 37.5%;
  }
  .xl-o-5 {
    margin-left: 41.66667%;
  }
  .xl-o-6 {
    margin-left: 50%;
  }
  .xl-o-7 {
    margin-left: 58.33333%;
  }
  .xl-o-8 {
    margin-left: 66.66667%;
  }
  .xl-o-9 {
    margin-left: 75%;
  }
  .xl-o-10 {
    margin-left: 83.33333%;
  }
  .xl-o-11 {
    margin-left: 91.66667%;
  }
}

@include lg {
  :root {
    --container-width: 96rem;
  }
  .lg-0 {
    display: none;
  }
  .lg-1,
  .lg-2,
  .lg-3,
  .lg-4,
  .lg-5,
  .lg-6,
  .lg-7,
  .lg-8,
  .lg-9,
  .lg-10,
  .lg-11,
  .lg-12 {
    display: block;
  }
  .lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .lg-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .lg-4-5 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .lg-o-1 {
    margin-left: 8.33333%;
  }
  .lg-o-2 {
    margin-left: 16.66667%;
  }
  .lg-o-2-4 {
    margin-left: 20%;
  }
  .lg-o-3 {
    margin-left: 25%;
  }
  .lg-o-4 {
    margin-left: 33.33333%;
  }
  .lg-o-4-5 {
    margin-left: 37.5%;
  }
  .lg-o-5 {
    margin-left: 41.66667%;
  }
  .lg-o-6 {
    margin-left: 50%;
  }
  .lg-o-7 {
    margin-left: 58.33333%;
  }
  .lg-o-8 {
    margin-left: 66.66667%;
  }
  .lg-o-9 {
    margin-left: 75%;
  }
  .lg-o-10 {
    margin-left: 83.33333%;
  }
  .lg-o-11 {
    margin-left: 91.66667%;
  }
}

@include md {
  :root {
    --container-width: 720px;
  }
  .md-0 {
    display: none;
  }
  .md-1,
  .md-2,
  .md-3,
  .md-4,
  .md-5,
  .md-6,
  .md-7,
  .md-8,
  .md-9,
  .md-10,
  .md-11,
  .md-12 {
    display: block;
  }
  .md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .md-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .md-4-5 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .md-o-1 {
    margin-left: 8.33333%;
  }
  .md-o-2 {
    margin-left: 16.66667%;
  }
  .md-o-2-4 {
    margin-left: 20%;
  }
  .md-o-3 {
    margin-left: 25%;
  }
  .md-o-4 {
    margin-left: 33.33333%;
  }
  .md-o-4-5 {
    margin-left: 37.5%;
  }
  .md-o-5 {
    margin-left: 41.66667%;
  }
  .md-o-6 {
    margin-left: 50%;
  }
  .md-o-7 {
    margin-left: 58.33333%;
  }
  .md-o-8 {
    margin-left: 66.66667%;
  }
  .md-o-9 {
    margin-left: 75%;
  }
  .md-o-10 {
    margin-left: 83.33333%;
  }
  .md-o-11 {
    margin-left: 91.66667%;
  }
}

@include sm {
  :root {
    --container-width: 540px;
  }
  .sm-0 {
    display: none;
  }
  .sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .sm-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .sm-4-5 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .sm-o-1 {
    margin-left: 8.33333%;
  }
  .sm-o-2 {
    margin-left: 16.66667%;
  }
  .sm-o-2-4 {
    margin-left: 20%;
  }
  .sm-o-3 {
    margin-left: 25%;
  }
  .sm-o-4 {
    margin-left: 33.33333%;
  }
  .sm-o-4-5 {
    margin-left: 37.5%;
  }
  .sm-o-5 {
    margin-left: 41.66667%;
  }
  .sm-o-6 {
    margin-left: 50%;
  }
  .sm-o-7 {
    margin-left: 58.33333%;
  }
  .sm-o-8 {
    margin-left: 66.66667%;
  }
  .sm-o-9 {
    margin-left: 75%;
  }
  .sm-o-10 {
    margin-left: 83.33333%;
  }
  .sm-o-11 {
    margin-left: 91.66667%;
  }
}