.header {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 10px 0 rgba($color: #000000, $alpha: 0.1);
  &__logo {
    position: absolute;
    left: calc(2 * var(--gutter));
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
  }
}

.nav {
  &-top {
    @include flexCenterY();
    background-color: $violet-color;
    color: white;
    height: var(--nav-top-height);
    @include lg {
      font-size: 14px;
    }
    & .nav__container {
      justify-content: space-between;
    }
  }
  &__container {
    @include flexCenterY();
    height: 100%;
    position: relative;
  }
  &-contact {
    @include flexCenterY();
    gap: 0 48px;
    @include lg {
      gap: 0 20px;
    }
    &__group {
      cursor: pointer;
      @include flexCenterY();
      gap: 0 10px;
    }
  }
  &-action {
    @include flexCenterY();
    gap: 0 16px;
    &__group {
      cursor: pointer;
      @include flexCenterY();
      gap: 0 4px;
    }
    &__icon {
      padding-bottom: 2px;
    }
  }
  &-cart {
    padding-left: 10px;
  }
  &-bottom {
    height: var(--nav-bottom-height);
  }
}
@include md {
  .nav {
    &-top {
      display: none;
    }
    &-contact__icon, &-action__icon {
      filter: invert(21%) sepia(100%) saturate(2801%) hue-rotate(259deg) brightness(89%) contrast(96%);
    }
    &-contact__icon {
      width: 20px;
    }
    &-action {
      &__group.mobile-reverse {
        flex-direction: row-reverse;
        & .nav-action__icon {
          width: 20px;
        }
      }
    }
  }
}