.menu {
  @include flexCenterY();
  justify-content: flex-start;
  gap: 0 35px;
  margin-left: calc(7% + 100px);
  @include lg {
    gap: 0 25px;
    margin-left: 18%;
  }
  margin-right: 35px;
  width: fit-content;
  &__link {
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
      color: $primary-color;
    }
    @include lg {
      font-size: 16px;
    }
  }
}
.toggle-menu {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  &__bars {
    width: 80%;
    height: 80%;
    position: relative;
  }
  &__line {
    --line-height: 4px;
    --transition-time: 0.2s;
    position: absolute;
    width: 100%;
    height: var(--line-height);
    border-radius: 100rem;
    background-color: $heading-color;
    transition: top var(--transition-time) linear var(--transition-time), transform var(--transition-time) linear 0s, opacity var(--transition-time) linear var(--transition-time);
    &:nth-child(1) {
      transform: rotate(0);
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
    }
    &:nth-child(3) {
      transform: rotate(0);
      top: calc(100% - var(--line-height));
    }
  }
  &.opened &__line {
    transition: top var(--transition-time) linear 0s, transform var(--transition-time) linear var(--transition-time), opacity var(--transition-time) linear 0s;
    &:nth-child(1) {
      top: calc(50% - calc(var(--line-height) / 2));
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      top: calc(50% - calc(var(--line-height) / 2));
      transform: rotate(-45deg);
    }
  }
  @include aboveBreakpoint(map-get($breakpoints, "md")) {
    display: none;
  }
}
@include md {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: translateX(100%);
    padding: 80px 80px 30px;
    word-break: break-all;
    transition: all 0.25s linear;
    @include sm {
      padding-left: 20px;
      padding-right: 20px;
    }
    &__item {
      width: 100%;
      height: 40px;
    }
    &__link {
      height: 100%;
      display: flex;
      align-items: center;
    }
    &, &__nav-top {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 10px 0;
      margin: 0;
      background-color: white;
      font-size: 20px;
    }
    &__nav-top {
      width: 100%;
      flex: 1;
      border-top: 2px solid #eee;
      padding-top: 20px;
      &-item {
        display: flex;
        height: 40px;
      }
    }
    &.opened {
      transform: translateX(0);
    }
  }
}