section.accessories
  h2.accessories__heading.product__heading.heading.heading-xl.heading-center Featured Accessories 
  .grid.wide.accessories__list 
    .row 
      +trendingProductItem("Cantilever chair", "$26.00", "$42.00", "../images/home/trending-product-1.png 2x")
      +trendingProductItem("Cantilever chair", "$26.00", "$42.00", "../images/home/trending-product-4.png 2x")
      +trendingProductItem("Cantilever chair", "$26.00", "$42.00", "../images/home/trending-product-2.png 2x")
      +trendingProductItem("Cantilever chair", "$26.00", "$42.00", "../images/home/trending-product-3.png 2x")