section.banner-2.container
  .banner-2__img 
    img(src="../images/home/download-3.png", alt="room")
  .banner-2__content 
    h3.banner-2__title.heading.heading-2xl CLASSIC & TRADITIONAL
    p.banner-2__desc.text.font-secondary The classics never go out of style. Make yourself at home with elegant furnishings, tasteful tones, and timeless touches.
    button.banner-2__cta.btn.btn--outline.btn--primary.btn--xl Explore