section.banner-sale 
  .banner-sale__container.obs-transition.slide-left
    .banner-sale__content 
      h2.banner-sale__heading.heading.heading-2xl.heading-center.fade.obs-transition.slide-left Spring Summer
      p.banner-sale__desc.font-secondary.fade.obs-transition.slide-left Get 30% off for your first purchase
      a(href= POPLink).banner-sale__cta.btn.btn--primary.btn--outline.btn--xl.fade.obs-transition.slide-left Save 30%
