section.banner-2.container
  .banner-2__img 
    img(src="../images/home/download-3.png", alt="room")
  .banner-2__content 
    h3.banner-2__title.heading.heading-2xl The mindful home
    p.banner-2__desc.text Earth Month is always a good moment to see how you can live more sustainably.
    button.banner-2__cta.btn.btn--outline.btn--primary.btn--xl Explore