section.banner-sale 
  .banner-sale__container
    .banner-sale__content 
      h2.banner-sale__heading.heading.heading-2xl.heading-center The Hekto Sofa in Walnut
      p.banner-sale__desc.text.text-lg.color-heading.font-secondary Get 30% off for your first purchase
      button.banner-sale__cta.btn.btn--primary.btn--solid.btn--lg Save 30%
