section.banner-side.container
  .banner-side__img.obs-transition.fade.slide-right
    img(src="../images/home/download-3.png", alt="room")
  .banner-side__content.obs-transition.fade.slide-left
    h3.banner-side__title.heading.heading-2xl CLASSIC & TRADITIONAL
    p.banner-side__desc.text.font-secondary The classics never go out of style. Make yourself at home with elegant furnishings, tasteful tones, and timeless touches.
    button.banner-side__cta.btn.btn--outline.btn--primary.btn--xl Explore