section.discount-item.container 
  .discount-item__content 
    h2.discount-item__heading.heading.heading-xl 20% Discount Of All Products
    span.discount-item__name.color-primary.font-secondary Eams Sofa Compact 
    p.discount-item__desc.text.text-md.font-secondary Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, voluptatibus et?
    .grid.discount-item-feature__container 
      .row 
        .col.col-6.xl-6.lg-12.md-12.sm-12.discount-item-feature
          i.discount-item-feature__check.fa-solid.fa-check
          .discount-item-feature__text.text.text-md.font-secondary Material expose like metals
        .col.col-6.xl-6.lg-12.md-12.sm-12.discount-item-feature
          i.discount-item-feature__check.fa-solid.fa-check
          .discount-item-feature__text.text.text-md.font-secondary Clear lines and geomatric figures
        .col.col-6.xl-6.lg-12.md-12.sm-12.discount-item-feature
          i.discount-item-feature__check.fa-solid.fa-check
          .discount-item-feature__text.text.text-md.font-secondary Simple neutral colours.
        .col.col-6.xl-6.lg-12.md-12.sm-12.discount-item-feature
          i.discount-item-feature__check.fa-solid.fa-check
          .discount-item-feature__text.text.text-md.font-secondary Material expose like metals
    button.discount-item__btn.btn.btn--primary.btn--lg Shop Now
  .discount-item__img 
    img(srcSet="../images/home/discount-item.png 2x", alt="sofa")
  