section.home-blog#home-blog.container
  h2.home-blog__heading.heading.heading-xl.heading-center Latest Blog
  .home-blog__list 
    +homeBlogItem("Top essential trends in 2022", "Wiro Sableng", "21 February, 2022", "More off this less hello samlande lied much over tightly circa horse taped mightly", "../images/home/blog-1.png 2x")
    +homeBlogItem("Top essential trends in 2022", "Wiro Sableng", "21 February, 2022", "More off this less hello samlande lied much over tightly circa horse taped mightly", "../images/home/blog-2.png 2x")
    +homeBlogItem("Top essential trends in 2022", "Wiro Sableng", "21 February, 2022", "More off this less hello samlande lied much over tightly circa horse taped mightly", "../images/home/blog-3.png 2x")




