section.home-blog#home-blog.container
  h2.home-blog__heading.heading.heading-xl.heading-center.section__heading Latest Blog
  .home-blog__list 
    +homeBlogItem("Top essential trends in 2022", "Wiro Sableng", "21 February, 2022", "More off this less hello samlande lied much over tightly circa horse taped mightly", "../images/home/blog-1.png 2x")
    +homeBlogItem("Mixing Modern Furniture with Vintage Looks", "Athony Tran", "7 December, 2021", "Introduce interest into your home that may mostly feature modern furniture.", "../images/home/blog-2.png 2x")
    +homeBlogItem("Transform your living room with SoHoConcept", "Harry Jeams", "12 May, 2022", "We have some good ideas here at SohoConcept to change your house.", "../images/home/blog-3.png 2x")




