section.offer 
  h2.offer__heading.heading.heading-xl.heading-center.section__heading What Shopex Offer!
  .grid.wide
    .row 
      +offerItem("24/7 Support", "$65.00", "../images/home/offer-1.png 2x")
      +offerItem("100% Money Back Guarantee", "$65.00", "../images/home/offer-2.png 2x")
      +offerItem("Comfort Handy Craft", "$65.00", "../images/home/offer-3.png 2x")
      +offerItem("Comfort Handy Craft", "$65.00", "../images/home/offer-4.png 2x")