section.on-trending
  .on-trending__title.heading.heading-xl.heading-center.section__heading On Trending 
  .grid.wide
    .row
      .col.col-6.xl-6.lg-12.md-12.sm-12.overflow-hidden
        .row
          .col.col-12.xl-12.lg-7.md-12.sm-12.obs-transition.slide-half-right.fade
            +onTrendingItem("lg obs-transition slide-right fade", "Brantwood Everest Oak Steel", "1799$", "../images/products/long-sofa.png", "1")
          .col.col-12.xl-12.lg-5.md-12.sm-12  
            .row
              .col.col-6.xl-6.lg-12.md-6.sm-12.obs-transition.obs-delay-quarter.slide-half-up.fade
                +onTrendingItem("md obs-transition obs-delay-quarter slide-half-up fade", "Eboni Lamp Table", "599$", "../images/products/eboni-lamp-table.png", "2")
              .col.col-6.xl-6.lg-12.md-6.sm-12.obs-transition.slide-half-up.fade
                +onTrendingItem("md obs-transition slide-half-up fade", "tobi end Table", "229$", "../images/products/tobi-end-table.png", "3")
      .col.col-6.xl-6.lg-12.md-12.sm-12.overflow-hidden
        .row 
          .col.col-12.xl-12.lg-5.md-12.sm-12  
            .row
              .col.col-6.xl-6.lg-12.md-6.sm-12.obs-transition.slide-half-down.fade
                +onTrendingItem("md obs-transition slide-down fade", "emse chair", "949$", "../images/products/esme-chair.png", "4")
              .col.col-6.xl-6.lg-12.md-6.sm-12.obs-transition.obs-delay-quarter.slide-half-down.fade
                +onTrendingItem("md obs-transition obs-delay-quarter slide-down fade", "buckland ladder", "499$", "../images/products/buckland-ladder.png", "5")
          .col.col-12.xl-12.lg-7.md-12.sm-12.obs-transition.slide-half-left.fade
            +onTrendingItem("lg obs-transition slide-left fade", "The Sofology Fifth Avenue", "3549$", "../images/products/the-sofology-fifth-avenue.png", "6")

