section.product-unique 
  .grid.wide.product-unique__container 
    .row 
      .col.col-6.xl-6.lg-7.md-12.sm-12 
        .product-unique__img 
          img(srcSet="../images/home/unique-product.png 2x", alt="sofa")
      .col.col-6.xl-6.lg-5.md-12.sm-12 
        .product-unique__content 
          h3.product-unique__heading.heading.heading-lg Unique Features Of Our Best Sofa
          ul.product-unique__list 
            li.product-unique__item 
              span.product-unique__dot.product-unique__dot--pink 
              span.product-unique__text All frames constructed with hardwood solids and laminates
            li.product-unique__item 
              span.product-unique__dot.product-unique__dot--blue 
              span.product-unique__text Reinforced with double wood dowels, glue, screw - nails corner blocks and machine nails
            li.product-unique__item 
              span.product-unique__dot.product-unique__dot--green 
              span.product-unique__text Arms, backs and seats are structurally reinforced
          .product-unique__action
            button.product-unique__btn.btn.btn--primary.btn--md Add to Cart
            .product-unique__info
              h6.product-unique__name.font-primary.text.text-sm.color-heading B&B Italian Sofa
              span.product-unique__price.font-secondary.text.text-sm.color-heading $32.00
            