section.product-trending
  h2.product-trending__heading.heading.heading-xl.heading-center Trending Products 
  .grid.wide.product-trending__list 
    .row 
      .col.col-3.xl-3.lg-6.md-6.sm-12 
        figure.product-trending-item.product-item.action-horizontal  
          .product-trending-item__top.product-item__top 
            .product-trending-item__img.product-item__img 
              img(srcSet= imgSrc , alt= alt)
            +productActionSet("product-action--horizontal")
              +productActionItem("","fa-solid fa-cart-plus")
              +productActionItem("","fa-regular fa-heart")
              +productActionItem("","fa-solid fa-magnifying-glass")
          .product-trending-item__bottom.product-item__bottom 
            figcaption.product-trending-item__heading.text.text-lg.text-center.color-primary.font-secondary= heading
            .product-trending-item-price.text.text-sm.text-center.color-heading 
              span.product-trending-item-price__new= code
              span.product-trending-item-price__old= price