section.product-latest 
  h2.product-latest__heading.heading.heading-xl.heading-center.product__heading Latest Products
  .grid.wide
    .row 
      +latestProductItem("Comfort Handy Craft", "$42.00", "$65.00", "../images/home/latest-product-1.png 2x")
      +latestProductItem("Comfort Handy Craft", "$42.00", "$65.00", "../images/home/latest-product-2.png 2x")
      +latestProductItem("Comfort Handy Craft", "$42.00", "$65.00", "../images/home/latest-product-3.png 2x")
      +latestProductItem("Comfort Handy Craft", "$42.00", "$65.00", "../images/home/latest-product-4.png 2x")
      +latestProductItem("Comfort Handy Craft", "$42.00", "$65.00", "../images/home/latest-product-5.png 2x")
      +latestProductItem("Comfort Handy Craft", "$42.00", "$65.00", "../images/home/latest-product-6.png 2x")