section.product-trending
  h2.product-trending__heading.heading.heading-xl.heading-center Trending Products 
  .grid.wide.product-trending__list 
    .row 
      +trendingProductItem("Cantilever chair", "$26.00", "$42.00", "../images/home/trending-product-1.png 2x")
      +trendingProductItem("Cantilever chair", "$26.00", "$42.00", "../images/home/trending-product-4.png 2x")
      +trendingProductItem("Cantilever chair", "$26.00", "$42.00", "../images/home/trending-product-2.png 2x")
      +trendingProductItem("Cantilever chair", "$26.00", "$42.00", "../images/home/trending-product-3.png 2x")
  .grid.wide.product-trending-collection 
    .row 
      .col.col-6.xl-6.lg-12.md-12.sm-12
        .product-trending-collection-item.product-trending-collection-item--pink
          h5.product-trending-collection-item__heading.heading.heading-md 23% off in all products
          a.product-trending-collection-item__link.color-primary(href="#!") Shop Now
          .product-trending-collection-item__img 
            img(srcSet="../images/home/collection-1.png 2x", alt="Clock")
      .col.col-6.xl-6.lg-12.md-12.sm-12
        .product-trending-collection-item.product-trending-collection-item--purple
          h5.product-trending-collection-item__heading.heading.heading-md 23% off in all products
          a.product-trending-collection-item__link.color-primary(href="#!") Shop Now
          .product-trending-collection-item__img 
            img(srcSet="../images/home/collection-2.png 2x", alt="Clock")