section.product-featured
  h2.product-featured__heading.heading.heading-xl.heading-center.section__heading  Featured Products 
  .grid.wide.container
    .row 
      +featuredProductItem("Cantilever chair", "Code - Y523201", "$42.00", "../images/home/featured-product-1.png 2x", "chair")
      +featuredProductItem("Cantilever chair", "Code - Y523201", "$42.00", "../images/home/featured-product-2.png 2x", "chair")
      +featuredProductItem("Cantilever chair", "Code - Y523201", "$42.00", "../images/home/featured-product-3.png 2x", "chair")
      +featuredProductItem("Cantilever chair", "Code - Y523201", "$42.00", "../images/home/featured-product-4.png 2x", "chair")
