footer.footer 
  .footer-top 
    .container.footer__container.grid.wide 
      form.footer-form.footer__group(action="#") 
        .logo.heading.heading--lg.footer__logo Hekto
        .footer-form__group
          input.footer-form__input.input.input--md(type="email" placeholder="Your email" required)
          button.btn.btn--sm.btn--primary.footer-form__submit Sign Up
        .footer-form__text 
          p.footer__text.text.text--md Contact Info
          p.footer__text.text.text--md 17 Princess Road, London, Greater London NW1 8JR, UK
      .footer__group.footer__menu 
        .heading.heading--sm.footer__heading Categories
        ul.footer__list 
          li.footer__item 
            a(href="#!").footer__link.footer__text Laptops & Computers
          li.footer__item 
            a(href="#!").footer__link.footer__text Cameras & Photography
          li.footer__item 
            a(href="#!").footer__link.footer__text Smart Phones & Tablets
          li.footer__item 
            a(href="#!").footer__link.footer__text Video Games & Consoles
          li.footer__item 
            a(href="#!").footer__link.footer__text Waterproof Headphones
      .footer__group.footer__menu 
        .heading.heading--sm.footer__heading Customer Care 
        ul.footer__list 
          li.footer__item 
            a(href="#!").footer__link.footer__text My Account
          li.footer__item 
            a(href="#!").footer__link.footer__text Discount
          li.footer__item 
            a(href="#!").footer__link.footer__text Returns
          li.footer__item 
            a(href="#!").footer__link.footer__text Orders History
          li.footer__item 
            a(href="#!").footer__link.footer__text Order Tracking
      .footer__group.footer__menu 
        .heading.heading--sm.footer__heading Pages 
        ul.footer__list 
          li.footer__item 
            a(href="#!").footer__link.footer__text Blog
          li.footer__item 
            a(href="#!").footer__link.footer__text Browse the Shop
          li.footer__item 
            a(href="#!").footer__link.footer__text Category
          li.footer__item 
            a(href="#!").footer__link.footer__text Pre-Built Pages
          li.footer__item 
            a(href="#!").footer__link.footer__text Visual Composer Elements
          li.footer__item 
            a(href="#!").footer__link.footer__text WooCommerce Pages
  .footer-bottom 
    .footer-bottom__container.container
      p.footer__rights.footer__text ©Webecy - All Rights Reserved
      .footer-social 
        a.footer-social__link(href="#!")
          i(class="fa-brands fa-facebook-f")
        a.footer-social__link(href="#!")
          i(class="fa-brands fa-instagram")
        a.footer-social__link(href="#!")
          i(class="fa-brands fa-twitter")
