header.header 
  nav.nav 
    .nav-top 
      .container.nav__container 
        .nav-contact 
          +navContactGroup("mailto: mhhasanul@gmail.com", "../images/base/mail.svg", "email", "mhhasanul@gmail.com")
          +navContactGroup("tel: (12345)67890", "../images/base/phone.svg", "telephone", "(12345)67890")
        .nav-action 
          +navActionGroup("Language", "../images/base/chevron-down.svg", "chevron down")
          +navActionGroup("USD", "../images/base/chevron-down.svg", "chevron down")
          +navActionGroup("Login", "../images/base/user.svg", "user")
          +navActionGroup("Wishlist", "../images/base/heart.svg", "heart")
          +navActionGroup("", "../images/base/cart.svg", "cart", ".nav-cart")
    .nav-bottom
      .container.nav__container
        a.heading.heading--lg.logo.header__logo(href="./index.html") Hekto
        button.toggle-menu.btn.btn--sm.mobile.js-toggle-menu
          .toggle-menu__bars 
            .toggle-menu__line
            .toggle-menu__line
            .toggle-menu__line
        include ../blocks/menu
        .search.above-mobile 
          input(type="text").search__input
          button.btn.btn--primary.btn--sm.search__btn
            img(src="../images/base/search.svg", alt="search")
