ul.menu.js-menu 
  li.menu__item.mobile
    .search 
      input(type="text").search__input
      button.btn.btn--primary.btn--sm.search__btn
        img(src="../images/base/search.svg", alt="search")
  li.menu__item 
    a.menu__link.text-lg.color-heading(href="./index.html") Home
  li.menu__item 
    a.menu__link.text-lg.color-heading(href="./product.html") Products
  li.menu__item 
    a.menu__link.text-lg.color-heading(href="./blog.html") Blog
  li.menu__item 
    a.menu__link.text-lg.color-heading(href="./contact.html") Contact
  li.menu__item.mobile.menu__nav-top 
    +navActionGroup("Login", "../images/base/user.svg", "user", "menu__nav-top-item mobile-reverse")
    +navActionGroup("Wishlist", "../images/base/heart.svg", "heart", "menu__nav-top-item mobile-reverse")
    +navActionGroup("Cart", "../images/base/cart.svg", "cart", "menu__nav-top-item mobile-reverse")
    +navContactGroup("mailto: mhhasanul@gmail.com", "../images/base/mail.svg", "email", "mhhasanul@gmail.com", "menu__nav-top-item")
    +navContactGroup("tel: (12345)67890", "../images/base/phone.svg", "telephone", "(12345)67890", "menu__nav-top-item")
    +navActionGroup("Language", "../images/base/chevron-down.svg", "chevron down", "menu__nav-top-item")
    +navActionGroup("USD", "../images/base/chevron-down.svg", "chevron down", "menu__nav-top-item")